<!DOCTYPE html>
<html>

    <head>
        <title>WowLink | About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="box">
            <h1>About the Wow Ecosystem</h1>
            <nav>
                <a href="/">Home</a> |
                <a href="/links">Links</a> |
                <a href="/login">Admin Login</a>
            </nav>
            <p>WowLink is the central system of the Wow Ecosystem.</p>
            <p>Built with Python, Flask, and pure determination.</p>
        </div>
    </body>
</html>